@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Rubik", sans-serif;
  background: #f5f3f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.wrap {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (min-width: 1100px) {
  .wrap {
    padding: 0;
  }
}

.wrap .top-background-piece {
  width: 50%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff)) no-repeat;
  background: linear-gradient(to bottom, #e942ff, #8838ff) no-repeat;
  border-radius: 0 0 999px 0;
}

@media only screen and (min-width: 1100px) {
  .wrap .top-background-piece {
    border-radius: 0 0 999px 999px;
    left: -14rem;
    height: 85%;
    width: 50rem;
  }
}

.wrap .bottom-background-piece {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 66, 255, 0.05)), to(rgba(136, 56, 255, 0.05))) no-repeat;
  background: linear-gradient(to bottom, rgba(233, 66, 255, 0.05), rgba(136, 56, 255, 0.05)) no-repeat;
  border-radius: 999px 0 0 0;
}

@media only screen and (min-width: 1100px) {
  .wrap .bottom-background-piece {
    border-radius: 999px 999px 0 0;
    right: -14rem;
    height: 85%;
    width: 50rem;
  }
}

.content--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1100px) {
  .content--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.info__wrap {
  text-align: center;
  margin-top: 6rem;
}

@media only screen and (min-width: 1100px) {
  .info__wrap {
    margin-left: 12rem;
    text-align: start;
  }
}

.info__wrap .info__h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #3e2753;
}

.info__wrap .info__p {
  margin: 2rem auto 0 auto;
  line-height: 1.6;
  max-width: 30ch;
  color: #a39daa;
  font-weight: 500;
}

@media only screen and (min-width: 1100px) {
  .info__wrap .info__p {
    max-width: 45ch;
  }
}

.phone {
  min-height: 55rem;
  background: white;
  width: 100%;
  max-width: 28rem;
  min-width: 28rem;
  border-radius: 4rem;
  position: relative;
  -webkit-box-shadow: 0 15px 20px rgba(56, 56, 56, 0.212);
          box-shadow: 0 15px 20px rgba(56, 56, 56, 0.212);
}

.phone .phone__top-piece {
  position: absolute;
  z-index: 1;
  background: white;
  border-radius: 999px;
  width: 14rem;
  height: 4rem;
  right: 7rem;
}

.phone .phone__content--wrap {
  background: #f5f3f7;
  border-radius: 3rem;
  position: absolute;
  z-index: 0;
  top: 1.5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
}
/*# sourceMappingURL=main.css.map */