.wrap {
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    padding: 3rem;
    @include flexCenter;

    animation: fadeIn 0.75s;

    .top-background-piece {
        width: 50%;
        height: 60%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
                to bottom,
                hsl(293, 100%, 63%),
                hsl(264, 100%, 61%)
            )
            no-repeat;
        border-radius: 0 0 999px 0;

        @include desktopSize {
            border-radius: 0 0 999px 999px;
            left: -14.5rem;
            height: 92%;
            width: 50rem;
        }
    }

    .bottom-background-piece {
        width: 50%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(
                to bottom,
                hsla(293, 100%, 63%, 0.03),
                hsla(264, 100%, 61%, 0.03)
            )
            no-repeat;
        border-radius: 999px 0 0 0;

        @include desktopSize {
            border-radius: 999px 999px 0 0;
            right: -15.5rem;
            height: 92%;
            width: 50rem;
        }
    }

    .darken {
        @include desktopSize {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.521);
            z-index: 1;
            opacity: 0;
            transition: opacity 1s;

            &.fadeOut {
                opacity: 0;
            }

            &.fadeIn {
                opacity: 1;
            }
        }
    }
}

.content--container {
    @include flexCenter(column);

    @include desktopSize {
        @include flexCenter(row);
    }
}

.info__wrap {
    text-align: center;
    margin-top: 6rem;

    @include desktopSize {
        margin-left: 12rem;
        margin-top: 0;
        text-align: start;
    }

    .info__h1 {
        font-size: 4rem;
        font-weight: 500;
        color: color(text--main-heading);
    }

    .info__p {
        margin: 2rem auto 0 auto;
        line-height: 1.8;
        max-width: 30ch;
        color: color(text--paragraph);
        font-weight: 500;

        @include desktopSize {
            max-width: 45ch;
        }
    }
}
