.phone {
    transform: scale(0.9);
    min-height: 60rem;
    background: white;
    width: 29rem;
    border-radius: 4rem;
    position: relative;
    box-shadow: 0 25px 30px rgba(56, 56, 56, 0.212);
    padding: 1.25rem;

    .phone__top-piece {
        position: absolute;
        z-index: 1;
        background: white;
        border-radius: 999px;
        width: 16rem;
        height: 3.5rem;
        right: 7.25rem;
        top: 0;
    }

    .phone__content--wrap {
        background: color(secondary--app-background);
        border-radius: $border-radius;

        // position: absolute;
        // z-index: 0;
        // top: 1.25rem;
        // right: 1.25rem;
        // bottom: 1.25rem;
        // left: 1.25rem;

        .content__header {
            height: 8.75rem;
            width: 100%;
            border-radius: $border-radius $border-radius 0.5rem 0.5rem;
            @include linearGradientToLeft;
            display: flex;
            align-items: flex-end;

            .header--wrap {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1.5rem 2rem;

                .arrow {
                    border: solid rgb(255, 255, 255);
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 0.25rem;
                    transform: rotate(124deg) skew(-25deg);
                }

                .header__avatar {
                    width: 2.75rem;
                    height: 2.75rem;
                    border-radius: 999px;
                    border: solid white 0.2rem;
                    margin-left: 1rem;
                }

                .header__name--wrap {
                    margin: 0 0 0 1rem;

                    .name__h2 {
                        font-weight: 500;
                        font-size: 1.5rem;
                        color: white;
                    }

                    .name__h3 {
                        font-size: 1.1rem;
                        color: white;
                        margin-top: 0.25rem;
                        color: color(text--sub-heading);
                    }
                }

                .header__dots {
                    // outline: solid yellow 2px;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;
                    .dot {
                        width: 0.25rem;
                        height: 0.25rem;
                        background: white;
                        border-radius: 999px;

                        & + .dot {
                            margin-top: 0.25rem;
                        }
                    }
                }
            }
        }

        .content__chat--wrap {
            padding: 0 1rem 1rem 1rem;

            .chat__dog-pictures {
                margin-top: 2rem;
                margin-left: auto;
                width: max-content;
                .dog__img {
                    width: 5rem;
                    border-radius: 1.2rem;

                    & + .dog__img {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}
