@keyframes cycleOne {
    0% {
        background: rgba(150, 150, 150, 0.4);
    }
    33.333% {
        background: rgba(150, 150, 150, 1);
    }
    66.6667% {
        background: rgba(150, 150, 150, 0.4);
    }
    100% {
        background: rgba(150, 150, 150, 0.4);
    }
}

@keyframes cycleTwo {
    0% {
        background: rgba(150, 150, 150, 0.4);
    }
    33.333% {
        background: rgba(150, 150, 150, 0.4);
    }
    66.6667% {
        background: rgba(150, 150, 150, 1);
    }
    100% {
        background: rgba(150, 150, 150, 0.4);
    }
}

@keyframes cycleThree {
    0% {
        background: rgba(150, 150, 150, 0.4);
    }
    33.333% {
        background: rgba(150, 150, 150, 0.4);
    }
    66.6667% {
        background: rgba(150, 150, 150, 0.4);
    }
    100% {
        background: rgba(150, 150, 150, 1);
    }
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}
