html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    padding: $padding;
    min-height: 100%;
    font-size: 1.6rem;
    @include flexCenter(row);
    font-family: $font-stack;
    background: color(secondary--app-background);
}
