// shared styles for the div that holds the paragraph element
.shared-chat-styles {
    width: max-content;
    padding: 1rem;
    margin-top: 1rem;

    // shared styles for the chat paragraph elements
    .shared-text-styles {
        max-width: 22ch;
        line-height: 1.4;
        font-size: 1rem;
        font-weight: 500;
    }
}

.chat__left-chat {
    background: hsl(270, 67%, 91%);
    border-radius: 1.5rem 1.5rem 1.5rem 0.5rem;

    &.extra-margin {
        margin-top: 2rem;
    }

    .left-chat__p {
        color: color(text--chat-on-the-left);
    }
}

.chat__right-chat {
    background: white;
    border-radius: 1.5rem 1.5rem 0.5rem 1.5rem;
    margin-left: auto;
    box-shadow: 0 10px 10px rgba(37, 37, 37, 0.055);

    .right-chat__p {
        color: color(text--chat-on-the-right);
    }
}

.chat__pricing {
    max-width: 70%;
    @include linearGradientToRight;
    border-radius: 1.5rem 1.5rem 1.5rem 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;

    .pricing__circle {
        border: solid rgba(255, 255, 255, 0.493) 1px;
        border-radius: 999px;
        padding: 0.75rem;
    }

    .pricing__p {
        color: white;
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    .pricing__price {
        margin-left: auto;
        margin-right: 1rem;
        color: white;
    }
}

.chat__type-input {
    margin-top: 2rem;
    background: white;
    padding: 0.5rem;
    border-radius: 999px;
    display: flex;
    // justify-content: space-around;
    align-items: center;

    .type-input__placeholder {
        font-size: 1.2rem;
        color: color(text--paragraph);
        margin-left: 2rem;
    }

    .type-input__send-icon {
        margin-left: auto;
        height: 3rem;
        width: 3rem;
        border-radius: 999px;
        background: color(text--main-heading);
    }
}
