@mixin desktopSize {
    @media only screen and (min-width: 950px) {
        @content;
    }
}

@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin linearGradientToRight {
    background: linear-gradient(
            to right,
            hsl(293, 100%, 63%),
            hsl(264, 100%, 61%)
        )
        no-repeat;
}

@mixin linearGradientToLeft {
    background: linear-gradient(
            to left,
            hsl(293, 100%, 63%),
            hsl(264, 100%, 61%)
        )
        no-repeat;
}

$colors: (
    text--sub-heaing: hsl(276, 100%, 81%),
    text--chat-on-the-left: hsl(276, 55%, 52%),
    text--chat-on-the-right: hsl(271, 15%, 43%),
    text--placeholder-text: hsl(206, 6%, 79%),
    text--main-heading: hsl(271, 36%, 24%),
    text--paragraph: hsl(270, 7%, 64%),
    secondary--app-background: hsl(270, 20%, 96%),
    seconday--submit-button-background: hsl(271, 36%, 24%),
    secondary--radio-button-outline: hsl(289, 100%, 72%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$padding: 2em;
$border-radius: 4rem;
$font-stack: "Rubik", sans-serif;
